body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: black;
  gap: 8px;
}

h1 {
  color: white;
}

input {
  width: 300px;
  height: 30px;
  border-radius: 24px;
}

.pokemon-nome {
  color: white;
  font-size: 24px;
  object-fit: cover;
}

.pokemon-exibido {
  border: 1px solid;
  border-color: aliceblue;
  border-radius: 24px;
  margin-top: 24px;
}